<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425120953765-64sjklssigavjv5kqskgpg7kfft1055d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425120953765-64sjklssigavjv5kqskgpg7kfft1055d</string>
	<key>API_KEY</key>
	<string>AIzaSyD_rxcztqDqzcjrblew2WtyyvwCw-au1lo</string>
	<key>GCM_SENDER_ID</key>
	<string>425120953765</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.momp.hml</string>
	<key>PROJECT_ID</key>
	<string>momp-hml</string>
	<key>STORAGE_BUCKET</key>
	<string>momp-hml.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425120953765:ios:0e2300c535c5eab021e44c</string>
	<key>DATABASE_URL</key>
	<string>https://momp-hml.firebaseio.com</string>
</dict>
</plist>